<!DOCTYPE html>
<html>

<head>

<title>EduPro Revenue Forecasting</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

<h1>EduPro Revenue Forecasting</h1>

<p class="subtitle">
<b>Predict Course Demand And Estimate Revenue Using Machine
                   Learning</b>
</p>

<form action="/predict" method="post">

<label>Category</label>

<select name="category">

<option value="5">Programming</option>

<option value="0">Data Science</option>

<option value="2">Cloud Computing</option>

<option value="6">Cyber Security</option>

<option value="7">Web Development</option>

<option value="4">Digital Marketing</option>

<option value="3">SQL</option>

<option value="1">Excel</option>

<option value="8">Java Script</option>

</select>

<label>Price</label>

<input
type="number"
name="price"
min="1"
required>

<label>Rating</label>

<input

type="number"
name="rating"
min="1"
max="5"
step="0.1"
required>

<label>Duration</label>

<input
type="number"
name="duration"
min="1"
required>

<label>Marketing Spend</label>

<input
type="number"
name="marketing"
min="1"
required>
{% if error %}
<div> class="error-box">
    {{error}}
</div>
{% endif %}

<button type="submit">

Predict

</button>

</form>

<hr>

<footer class="footer">
    <p>Internship Project | Unified Mentor Private Limited (1 Month)</p>
    <p>Developed using Python, Flask & Machine Learning</p>
</footer>
</div>

</body>

</html>